.logout_box{
    min-width: 330px;
}

.first_section{
    height: 550px;
}

.workers_section,
.application_section{
    background-color: #f1f1f1;
    max-height: 550px;
    padding-bottom: 50px;
}

.first_section .fixed_header th,
.first_section .table_body td{
    height: 50px;
    width: 20%;
}

.workers_section .fixed_header th,
.workers_section .table_body td{
    height: 50px;
    width: 16.7%;
}

.description{
    width: 50%;
    min-height: 50px;
}

.date{
    width: 20%;
    min-height: 50px;
}
.submit_form{
    width: 30%;
    min-height: 50px;
}

.form-select{
    max-width: 100px;
}