.first_section{
    height: 550px;
}
.atms,
.deleted_atms{
    max-height: 550px;
    background-color: #f1f1f1;
    padding-bottom: 50px;
}

.atms_adding{
    width: 500px;
}

.atms .fixed_header th,
.atms .table_body td,
.deleted_atms .fixed_header th,
.deleted_atms .table_body td{
    height: 50px;
    width: 33.3%;
}