.first_section_content{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.first_section_title{
    color: white;
    font-size: 40px;
    max-width: 650px;
}

.sign_in{
    width: 500px;
}

.services{
    min-height: 830px;
}

.services_title{
    color: #858889;
}

.card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.card-text{
    min-height: 280px;
}